body {
  background-color: #A555EC;
  margin: 0;
  text-align: center;
  position: relative;
  font-family: cursive;
}

h1 {
  font-size: 7rem;
  margin: 0px auto 0 auto;
  margin-bottom: 0px;
  color: #3F0071;
  font-family: 'Sacramento', cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #3F0071;
  border-width: 5px;
  width: 50%;
}

.Submit {
  background-color: #A555EC;
  background-image: -webkit-linear-gradient(top,  #A555EC, #FF78F0);
  background-image: -moz-linear-gradient(top,  #A555EC, #FF78F0);
  background-image: -ms-linear-gradient(top,  #A555EC, #FF78F0);
  background-image: -o-linear-gradient(top,  #A555EC, #FF78F0);
  background-image: linear-gradient(to bottom,  #A555EC, #FF78F0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.Submit:hover {
  background: #A555EC;
  background-image: -webkit-linear-gradient(top, #A555EC, #541690);
  background-image: -moz-linear-gradient(top, #A555EC, #541690);
  background-image: -ms-linear-gradient(top, #A555EC, #541690);
  background-image: -o-linear-gradient(top, #A555EC, #541690);
  background-image: linear-gradient(to bottom, #A555EC, #541690);
  text-decoration: none;
}

.Message {
  width: 300px;
  height: 200px;
  background-color: #D09CFA;
}

.Name {
  background-color: #D09CFA;
}

.Gmail {
  background-color: #D09CFA;
}
