body {
  margin: 0;
  text-align: center;
  position: relative;
  font-family: cursive;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 170px;
  position: relative;

}

.middle-container {
}
.bottom-container {
}

.Bottom-cloud {
  position: absolute;
  left: 360px;
  bottom: 300px;
}

.Top-cloud {
  position: absolute;
  right: 330px;
  top: 120px;
  border-right-width: 20px;
  margin-right: 50px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
